doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        title #{pageTitle} - Final Moments
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
        link(rel='stylesheet', href='./css/zombies.css')
    body
        nav.navbar.navbar-expand-md.navbar-dark.bg-dark
            .navbar-collapse.collapse.w-100.order-1.order-md-0.dual-collapse2
                ul.navbar-nav.mr-auto
                    li.nav-item.active
                        a.nav-link(href='/dashboard') Home
                    li.nav-item
                        a.nav-link(href='/survivors') Survivors
                    li.nav-item
                        a.nav-link(href='/inventory') Inventory
                    li.nav-item
                        a.nav-link(href='/safehouse') Safehouse
                    li.nav-item
                        a.nav-link(href='/shop') Shop
                    li.nav-item
                        a.nav-link(href='/missions') Missions
                    li.nav-item
                        a.nav-link(href='/explore') Explore
            .mx-auto.order-0
                a.navbar-brand.mx-auto(href='#') Final Moments
                button.navbar-toggler(type='button', data-toggle='collapse', data-target='.dual-collapse2')
                    span.navbar-toggler-icon
            .navbar-collapse.collapse.w-100.order-3.dual-collapse2
                ul.navbar-nav.ml-auto
                    li.nav-item
                        a.nav-link(href='#') News
                    li.nav-item
                        a.nav-link(href='#') Account
                    li.nav-item
                        a.nav-link(href='#') Logout
        .container
            h1 Page not found :-(