html,
body {
  background-color:#C5C59F;
  color:#82826d;
}
.navbar,
.card {
  margin-bottom: 25px;
}
.navbar {
  background-color:#282828!important;
}
.card {
  background-color:#edefd7;
  border-color:#82826d;
}
.card-header {
  color:#545446;
  border-color:#cecebf;
}
h5.card-header {
  font-weight:bold;
}
.nav-tabs .nav-link {
  color:#000;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color:#545446;
  background-color:#edefd7;
  border-color:#edefd7;
  font-weight:bold;
}
button {
  background-color: #0b3d1d;
  border: 2px #07ae43 solid;
  padding: 10px 15px;
  color: #07ae43;
  text-transform: uppercase;
  font-weight: bold;
}

#stats .material-icons { float:left; }
#stats .progress { float:right; width:110px; margin-top:5px; }